@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');

.main {
    display: flex;
    justify-content: space-between;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(130deg, rgba(134, 172, 255, 0.445) 22%, rgba(255, 132, 132, 0.445) 36%, rgba(255,255,255,1) 50%), url('../images/bg-desktop.svg');
    background-size: contain;
}

.left {
    white-space: nowrap;
    font-family: 'Righteous', cursive;
    display: inline-block;
    margin: 150px 50px 50px 150px;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.left h1 {
    white-space: nowrap;
    font-size: 90px;
    letter-spacing: 6px;
    text-shadow: 6px 6px 7px rgba(255, 186, 209, 0.808);
}

.left p {
    white-space: nowrap;
    font-size: 25px;
    padding-left: 5px;
    text-shadow: 6px 6px 7px rgba(84, 135, 245, 0.575);
}

.left img {
    padding: 0 30px;
    height: 580px;
    position: absolute;
    left: 0;
    bottom: 0;
}
  

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards {
    margin: 240px 60px 0 0;
    display: flex;
    padding-right: 20px;
    bottom: 0;
    font-weight: 500;
}

.cards a {
    display: inline;
    text-decoration: none;
    margin: 35px;
}

@media screen and (max-width: 1670px) {
    .left {
        margin: 150px 5px 25px 100px;
    }

    .left img {
        width: 600px;
        height: 500px;
        bottom: 40px;
    }

    .cards {
        justify-content: center;
        margin-right: 0;
    }

    .cards a {
        margin: 22px;
    }

    .cards .card {
        width: 200px;
        height: 200px;
        white-space: pre-wrap;
        text-align: center;
    }

    .cards .card img {
        width: 100px;
        padding-top: 10px;
        padding-bottom:20px;
    }

    .right .search {
        right: -10px;
        margin-bottom: 60px;
        width: 700px;
    }
}

@media screen and (max-width: 1370px) {
    .main {
        justify-content: start;
        flex-direction: column;
    }

    .left {
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        text-align: center;
        margin: 50px 0 0 0;
    }

    .left img {
        display: none;
    }

    .right .search{
        right: -30px;
        padding-bottom: 0;
    }

    .cards {
        margin-top: 100px;
    }
}

@media screen and (max-width: 800px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        margin-top:100px;
    }

    .right .search {
        width: 200px;
        height: 60px;
        position: relative;
        right: 100px;
        margin: 0;
    }

    .right .search img {
        width: 20px;
        height: 20px;
    }

    .right .search button, .right .search button:hover {
        top: 5px;
        right: 55px;
        background: transparent;
    }

    .right .search input {
        height: 60px;
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 580px) {
    .left h1 {
        font-size: 4rem;
        letter-spacing: 3px;
        margin-bottom: 0;
    }

    .left p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .cards {
        margin-top: 50px;
        flex-direction: column;
    }

    .cards .card {
        width: 150px;
        height: 150px;
    }

    .cards a {
        margin: 14px;
    }

    .cards .card img {
        width: 60px;
    }

    .cards .card h5 {
        font-size: 1rem;
    }

    .right .search {
        right: 30px;
        top: 30px;
    }
    .right .search input {
        width: 260px;
        height: 40px;
        font-size: 1.2rem;
    }

    .right .search button {
        top: -2px;
        right: 50px;
    }
}

@media screen and (max-width: 400px) {
    .left h1 {
        font-size: 3rem;
    }

    .left p {
        font-size: 1rem;
    }

    .cards .card {
        width: 150px;
        height: 150px;
    }

    .cards a {
        margin: 14px;
    }

    .cards .card img {
        width: 60px;
    }
}