@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');


.main {
    display: flex;
    justify-content: space-between;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(58,97,180);
    background: linear-gradient(130deg, rgba(134, 172, 255, 0.445) 22%, rgba(255, 132, 132, 0.445) 36%, rgba(255,255,255,1) 50%);
}


.left {
    white-space: nowrap;
    font-family: 'Righteous', cursive;
    display: inline-block;
    margin: 150px 50px 50px 150px;
    color: #fff;
}

.left h1 {
    white-space: nowrap;
    font-size: 90px;
    letter-spacing: 6px;
    text-shadow: 6px 6px 7px rgba(255, 186, 209, 0.808);
}

.left p {
    white-space: nowrap;
    font-size: 25px;
    padding-left: 5px;
    text-shadow: 6px 6px 7px rgba(84, 135, 245, 0.575);
}

.left img {
    padding: 0 30px;
    height: 580px;
    position: absolute;
    left: 0;
    bottom: 0;
}
  

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards {
    margin: 240px 60px 0 0;
    display: flex;
    padding-right: 20px;
    bottom: 0;
    font-weight: 500;
}

.cards a {
    display: inline;
    text-decoration: none;
    margin: 35px;
}