@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.anime {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.anime-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 300;
    border-radius: 25px;
}

.anime-container h1 {
    margin: 0 0 30px 80px;
    align-self: flex-start;
}

.info-container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 50px;
}

.info {
    height: 600px;
    padding: 20px;
}

.info-container li {
    list-style: none;
    margin: 0 30px;
    white-space:normal;
    background: rgba(127, 168, 255, 0.425);
    border-radius: 25px;
}

.info-container li:first-child {
    background: none;
}

.anime-container img {
    border-radius: 20px;
    width: 386px;
    height: 600px;
}

.anime-container .info p{
    padding: 4px;
    white-space: nowrap;
}

.anime-container .info p span:first-child {
    font-weight: 600;
}

.anime-container .info p span:last-child {
    font-family: 'Open Sans', sans-serif;
}

.info-container ul li{
}

.info-container ul .description {
    background-color: rgba(127, 168, 255, 0.425);
    margin: 0;
    padding: 20px;
}

.info-container ul .description p{
    font-family: 'Open Sans', sans-serif;
}

.right {
    width: 840px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.right ul {
    align-self: flex-start;
}

.desc {
    position: absolute;
    right: 480px;
}