.popular {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.popular a{
    margin: 25px;
    width: 300px;
    height: 430px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.popular a h5 {
    font-size: 1rem;
    padding: 16px 10px;
    color: #000000;
}

.popular a img {
    width: 300px;
    height: 425px;
    border-radius: 25px;
}

.popular a img:hover {
    filter: blur(3px);
}