.popular {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.popular a{
    margin: 25px;
    width: 300px;
    height: 430px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.popular a h5 {
    font-size: 1rem;
    padding: 16px 10px;
    color: #000000;
}

.popular a img {
    width: 300px;
    height: 425px;
    border-radius: 25px;
}

.popular a img:hover {
    filter: blur(3px);
}

.genres {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.genres a{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    color: #696969;
    bottom: 0;
    transition: 0.4s;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 90px;
    border: white;
    border-bottom: 5px solid transparent;
    white-space: nowrap;
}

.genres a:hover {
    bottom: 10px;
    background: rgba(226, 233, 253, 0.61);
    border-bottom: 6px solid #788cffce ;
    border-radius: 25px;
    -webkit-box-shadow: 16px 14px 35px 5px rgba(255, 225, 238, 0.678);
    -moz-box-shadow: 16px 14px 35px 5px rgba(255, 225, 238, 0.678);
    box-shadow: 16px 14px 35px 5px rgba(255, 225, 238, 0.678);
}

.genres a p {
    margin: 0;
}