@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.search {
    position: relative;
    top: 80px;
    right: -70px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 100px;
}

.search input::placeholder {
    color: rgba(185, 185, 185, 0.671);
}

.search img {
    width: 30px;
    height: 30px;
}

.search input{
    transition: 0.3s;
    width: 700px;
    height: 80px;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, rgba(255, 186, 209, 0.808), rgba(84, 135, 245, 0.575)) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}
.search input:hover {
    -webkit-box-shadow: 16px 14px 35px 5px rgb(255, 225, 238);
    -moz-box-shadow: 16px 14px 35px 5px rgb(255, 225, 238);
    box-shadow: 16px 14px 35px 5px rgb(255, 225, 238);
}

.search input:focus {
    outline: none;
    width: 650px;
    -webkit-box-shadow: 16px 14px 35px 5px rgb(255, 225, 238);
    -moz-box-shadow: 16px 14px 35px 5px rgb(255, 225, 238);
    box-shadow: 16px 14px 35px 5px rgb(255, 225, 238);
}

.search input:focus::placeholder {
    color: white;
}

.search button {
    border: none;
    background-color: transparent;
    position: relative;
    right: 70px;
    top: 15px;
    border-radius: 50%;
    padding: 0 10px;
    height: 50px;
    transition: 0.45s;
}

.search button:hover {
    background-color: rgb(224, 224, 224);
}