@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.navbar .logo {
    font-weight: bold;
    margin-left: 25px;
    font-size: 2rem;
    background: #67b3ff;
    background: linear-gradient(to right, #79bcff 0%, #ffa9e5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar .search {
    margin: 0;
    padding: 0;
    top: 0;
    left: 100px;
}

.navbar .search input {
    width: 500px;
    height: 30px;
    font-size: 1.2rem;
}

.navbar .search input::placeholder{
    color: #3838388e;
}

.navbar .search input:focus::placeholder {
    color: white;
}

.search input:hover, .search input:focus {
    -webkit-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    -moz-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
}

.navbar .search img{
    width: 25px;
    height: 25px;
}

.navbar .search button {
    top: -1px;
    right: 55px;
}

.navbar .search button:hover {
    background-color: transparent;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-top: 13px;
    padding: 0 50px;
}

.nav-links li a{
    transition: 0.3s;
    padding: 8px 15px;
    text-align: center;
    margin: 0px;
    border-bottom: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgba(84, 135, 245, 0.575),  rgba(255, 186, 209, 0.808)) border-box;
}

.nav-links li .active, .nav-links li .active:hover {
    padding: 10px 20px;
    background: rgba(226, 233, 253, 0.61);
    border-bottom: 5px solid #788cffce ;
    border-radius: 40px;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    -moz-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
}
