@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    flex-wrap: nowrap;
}

.navbar a {
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
}

.navbar .logo {
    font-weight: bold;
    margin-left: 25px;
    font-size: 2rem;
    background: #67b3ff;
    background: linear-gradient(to right, #79bcff 0%, #ffa9e5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar .search {
    margin: 0;
    padding: 0;
    top: 0;
    left: 100px;
}

.navbar .search input {
    width: 500px;
    height: 30px;
    font-size: 1.2rem;
}

.navbar .search input::placeholder{
    color: #3838388e;
}

.navbar .search input:focus::placeholder {
    color: white;
}

.search input:hover, .search input:focus {
    -webkit-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    -moz-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
}

.navbar .search img{
    width: 25px;
    height: 25px;
}

.navbar .search button {
    top: -1px;
    right: 55px;
}

.navbar .search button:hover {
    background-color: transparent;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-top: 13px;
    padding: 0 50px;
}

.nav-links li a{
    transition: 0.1s;
    padding: 8px 12px;
    text-align: center;
    margin: 0px;
    border-bottom: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgba(84, 135, 245, 0.575),  rgba(255, 186, 209, 0.808)) border-box;
}

.nav-links li a:hover{
    color: #696969;
}

.nav-links li .active{
    color: black;
    padding: 10px 20px;
    background: rgba(226, 233, 253, 0.61);
    border-bottom: 5px solid #788cffce ;
    border-radius: 40px;
    -webkit-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    -moz-box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
    box-shadow: 10px 10px 29px 0px rgba(255, 225, 238, 0.678);
}

@media screen and (max-width: 1670px) {
    .navbar .search input {
        width: 300px;
    }

    .navbar .search button {
        top: -2px;
        right: 50px;
    }
}

@media screen and (max-width: 1470px) {
    .nav-links {
        padding: 0 0 0 16px;
    }

    .nav-links li {
        padding: 0 20px;
    }
}

@media screen and (max-width: 1300px) {
    .navbar .search {
        width: 280px;
        margin-right: 100px;
    }

    .navbar .search input {
        width: 280px;
        font-size: 1rem;
    }

    .nav-links li a{
        font-size: 0.8rem;
    }

    .nav-links li a.active{
        padding: 6px 12px;
    }
}

@media screen and (max-width: 1175px) {
    .navbar a.logo {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .navbar .search {
        margin-left: 10px;
        margin-right: 50px;
        left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .nav-links li {
        margin: 10px 20px;
    }

    .navbar ul.nav-links {
        padding: 0;
    }

    .navbar .search {
        margin-top: 20px;
    }
}

@media screen and (max-width: 730px) {
    .navbar {
        padding: 10px 0;
    }

    .nav-links li {
        margin: 10px 10px;
        padding: 0 10px;
    }

    .nav-links li a{
        padding: 8px;
    }

    .navbar .search{
        left: 5px;
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 570px) {
    .nav-links li {
        margin: 10px 6px;
        padding: 0 10px;
    }

    .nav-links li a{
        font-size: 0.7rem;
        padding: 5px;
    }
}

@media screen and (max-width: 420px) {
    .navbar .search input{
        font-size: 0.8rem;
        width: 200px;
        height: 20px;
        padding: 15px;
    }

    .navbar .search {
        left: 40px;
    }

    .navbar .search .search-button {
        top: -8px;
        right: 35px;
        padding: 0;
    }

    .navbar .search img {
        width: 20px;
        height: 20px;
    }

    .nav-links li {
        margin: 10px 10px;
        padding: 0 7px;
    }

    .nav-links li a {
        padding: 5px 0;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 380px) {
    .nav-links li {
        margin: 10px 3px;
        padding: 0 5px;
    }
}
