@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.navbar a:first-child {
    margin-left: 35px;
}

.navbar .search {
    margin: 0;
    padding: 0;
    top: 0;
    left: 100px;
}

.navbar .search input {
    width: 500px;
    height: 30px;
    font-size: 1.2rem;
}

.navbar .search input::placeholder{
    color: #3838388e;
    font-family: 'Montserrat', sans-serif;
}

.navbar .search input:focus::placeholder {
    color: white;
}

.navbar .search img{
    width: 25px;
    height: 25px;
}

.navbar .search button {
    top: -1px;
    right: 55px;
}

.navbar .search button:hover {
    background-color: transparent;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 13px 40px 0 0;
}

.nav-links a:last-child {
    margin-right: 30px;
}

.active {
}